body {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 0, 255)
  );
  z-index: 1;
}

.app-title {
  margin: 2vh;
}
