body {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 0, 255)
  );
  z-index: 1;
}

.app-title {
  margin: 2vh;
}

.question-container {
  position: relative;
  top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.question-card {
  position: relative;
  flex: 1 0 300px;
  padding: 1em;
  margin: 1em;
  margin-bottom: 90px;
  background-color: #f5f5f5;
}

/* for the bookmark page - margin top = space to the header...?! is this any good? */
.question-card-bookmark {
  position: relative;
  flex: 1 0 300px;
  padding: 1em;
  margin: 1em;
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: #f5f5f5;
}

.answer-btn {
  margin-bottom: 40px;
}

.material-symbols-outlined {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  transform: scale(2);
}

.question-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.html-tag,
.flexbox-tag,
.css-tag {
  font-size: 10px;
  color: #555;
  padding: 3px;
  border: 1px solid #555;
  border-radius: 5px;
  transition: background-color 0.2s ease-in; /* add a mouseover effect */
}

.html-tag:hover,
.flexbox-tag:hover,
.css-tag:hover {
  background-color: #555;
  color: #fff;
}

/* bookmarks page - tags */
.created-question,
.created-bookmarks {
  font-size: 10px;
  color: #555;
  padding: 3px;
  border: 1px solid #555;
  border-radius: 5px;
  transition: background-color 0.2s ease-in; /* add a mouseover effect */
}

.created-question:hover,
.created-bookmarks:hover {
  background-color: #555;
  color: #fff;
}

.navbar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.navbar a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  display: flex;
  margin: 15px;
  transition: background-color 0.2s ease-in;
  border: 2px solid transparent;
}

.navbar a:hover {
  color: rgb(137, 247, 181);
}
.navbar a.active {
  color: rgb(255, 255, 16);
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.profile-icon {
  width: 70px;
  height: 70px;
  margin-top: 50px;
}

.profile-name {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.profile-description {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  width: 60%;
  padding: 30px;

  position: relative;
  flex: 1 0 300px;
  padding: 1em;
  margin: 1em;
  background-color: #f5f5f5;
}

.about-me {
  font-weight: bold;
  bord
}
